.segmented-control {
    display: table;
    width: 300px;
    height: 28px;
    background-color: #f0f0f0;
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(238,237,236,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(238,237,236,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(238,237,236,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(238,237,236,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(238,237,236,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(238,237,236,1) 100%); /* W3C */
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
}



.segmented-control.disabled:hover {
    background-color: #f0f0f0;
}

.segmented-control.disabled li:hover {
    background-color: #f0f0f0;
}

.segmented-control.disabled li.active:hover {
    background-color: #e0e0e0;
}

.segmented-control li {
    min-width: 40px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-right: none;
    text-align: center;
    text-decoration: none;
    color: inherit;
    color:#666;
}

.segmented-control li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.segmented-control li:last-child {
    border-right: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.segmented-control li:hover {
    color:#404040;
    background-color: #f8f8f8;
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
}

.segmented-control li.active {
    color:#404040;
    background-color: #e0e0e0;
    background: -moz-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,212,212,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(212,212,212,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(212,212,212,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(212,212,212,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(212,212,212,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
}
